section{
    width: 80%;
    height: 800px;
    /* background-image: url("https://images.unsplash.com/photo-1708546991069-6f615dc28057?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: left; */

    background: center/cover no-repeat url("https://images.unsplash.com/photo-1708546991069-6f615dc28057?q=80&w=1976&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    margin: 0 auto;
}

h1{
    font-size: 100px;
    color: white;
}