h1{
    text-align: center;
    /* width: 50%; */
    font-weight: 700;
    text-decoration: #f78120 wavy underline;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma;
}

p{
    /* text-align: right; */
    font-weight: 400;
    line-height: 2;
}

a{
    text-decoration: none;
}